* {
  padding: 0;
}
:root {
  --primary-text-color: #636b76;
  --title-text-color: #64ebac;
  --hover-text-color: #b1b5ba;
  --accent-text-color: #ffffff;
  --date-text: #616969;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  padding: 10px 20px;
  margin: 0;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  align-items: flex-start;
  background: var(--accent-text-color);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background: #2f303a;
  width: 370px;
  /* height: 1764px; */
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  max-width: 370px;
}
.education {
  padding-left: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.education-block {
  margin-top: 40px;
  margin-bottom: 40px;
}
.about-me {
  width: auto;
  padding: 30px 90px 0px 90px;
}
.my-name {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.97;
  margin-bottom: 20px;
}
.profession {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.date {
  color: var(--date-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}
.company {
  color: var(--title-text-color);
}
.simbol {
  color: black;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}
.work-story {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;

  min-width: 413px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.description {
  min-width: 413px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.contact-container {
  margin: 60px 40px 40px 45px;
}
.contact-title {
  color: var(--accent-text-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}
.all-cont {
  padding-top: 10px;
}
.contact-link {
  color: var(--primary-text-color);
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
.cont {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: var(--accent-text-color);
  margin-right: 10px;
}
.tech-skill {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
  margin-left: 40px;
  margin-bottom: 20px;
  color: var(--accent-text-color);
}
.tech-skills {
  color: var(--title-text-color);
  margin-left: 60px;
  margin-bottom: 50px;
}
.tech-skills li {
  list-style-type: none;
}
.tech-skills li:before {
  content: "\2a20";
  display: inline-block;
  text-indent: -20px;
}
.soft-skills li {
  list-style-type: none;
}
.soft-skills li:before {
  content: "\2a20";
  display: inline-block;
  text-indent: -20px;
}
.skill-text {
  color: var(--hover-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.soft-skill {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
  margin-left: 40px;
  margin-bottom: 20px;
  color: var(--accent-text-color);
}
.soft-skills {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-left: 60px;
}
